.projects {
  display: flex;
  flex-direction: column;
  gap: 25px;
  align-items: center;
  max-width: 1050px;
  margin: 0px auto;
  width: 100%;
  flex-wrap: wrap;
}

@media screen and (min-width: 570px) {
  .projects {
    flex-direction: row;
  }
}
