.skills {
  display: flex;
  //flex-direction: column;
  max-width: 1400px;
  gap: 40px;
  justify-content: center;

  &__frontEnd {
    max-width: 255px;
    min-width: 170px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;
  }

  &__backEnd {
    max-width: 255px;
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;

  }

  &__other {
    flex-grow: 1;
    flex-basis: 0;
    text-align: center;

  }
}

@media screen and (max-width:435px) {
  .skills {
    flex-direction: column;

  }  
}