@font-face {
  font-family: "ProximaNova";
  src: url(../fonts/ProximaNova.otf) format("opentype");
  font-weight: normal;
}

@font-face {
  font-family: "ProximaNova-Bold";
  src: url(../fonts/ProximaNovaBold.otf) format("opentype");
  font-weight: bold;
}

@font-face {
  font-family: "ProximaNova-Black";
  src: url(../fonts/ProximaNovaBlack.otf) format("opentype");
  font-weight: bolder;
}

@font-face {
  font-family: "ProximaNova-Thin";
  src: url(../fonts/ProximaNovaThin.otf) format("opentype");
  font-weight: lighter;
}

html {
  height: 100%;
  font-family: "ProximaNova", sans-serif;
}
body {
  margin: 0;
  background: linear-gradient(
    0deg,
    rgb(7, 28, 133) 0%,
    rgba(16, 21, 47, 1) 100%
  );

  color: #d6e4f2;
  padding-top: 60px;
}
